
@use "../../../Styles/general.scss";
@use "../../../Styles/pallet.scss";



.success {
    &::after {
        background: green;
    }
}
.success_dashed {
    &::after {
        background: green;
    }
}
.danger {
    &::after {
        background: red;
    }
}
.danger_dashed {
    &::after {
        background: red;
    }
}
.sum {
    &::after {
        background: gray;
    }
}
.sumAccuracy {
    &::after {
        background: lightgray;
    }
}